<ion-view view-title="{{title}}" >
  <ion-content class="padding" ng-controller="MeController">
    <a class="button" href="#/templates/compLogin">Login</a>
    <a class="button" href="#/templates/compRegister">Register</a>
    <a class="button" href="#/templates/member">会员管理</a>
    <a class="button" href="#/templates/salesHistory">查看销售记录</a>
    <a class="button" href="#/templates/rejection">查看退货记录</a>
    <a class="button" href="#/templates/rejectionGoods">退货</a>
    <br>
    {{User}}
  </ion-content>
</ion-view>
