<ion-view title="{{title}}">
  <ion-content class="padding" ng-controller="GoodsController">

    <br />
    <ion-list>

      <ion-item class="item-thumbnail item-content=50px"  collection-repeat="goods in Goods">

        <table class="table table-striped">
        <tr>
          <td>{{ goods.goodsName }}</td>
          <td>{{ goods.goodsNumber }}</td>
        </tr>
      </table>
        <ion-option-button class="button-assertive icon ion-android-share"ng-click="deleteGoods(goods.id)">删除</ion-option-button>
        <ion-option-button class="button-assertive icon ion-cube">修改</ion-option-button>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
