<ion-view title="{{title}}" class="bg">
  <ion-content class="padding" ng-controller="GoodsController">

    <br/>
    <ion-list>

      <ion-item class="item-thumbnail item-content=50px" collection-repeat="goods in Goods" ng-click="getDetail(goods)">

        <!--<table class="table table-striped">
        <tr>
          <td>{{ goods.goodsName }}</td>
          <td>{{ goods.goodsNumber }}</td>
        </tr>
      </table>-->
        <div class="angular-ion-item">
          {{goods.goodsName}}
        </div>
        <ion-option-button class="button-assertive icon ion-android-share" ng-click="deleteGoods(goods.id)">删除
        </ion-option-button>
        <ion-option-button class="button-assertive icon ion-cube">修改</ion-option-button>
      </ion-item>

    </ion-list>
    <button class="button button-block button-positive" ng-click="postGoods()">添加库存</button>
  </ion-content>
</ion-view>
