<ion-view view-title="会员详细信息" >
  <ion-content class="padding" ng-controller="MemberDetailController">
    <br />
    <br />
    <label class="item item-input">
      <span class="input-label">会员名</span>
      <input type="text" ng-model="member.memberName">
    </label>
    <label class="item item-input">
      <span class="input-label">会员编号</span>
      <input type="text"  ng-model="member.id">
    </label>
    <label class="item item-input">
      <span class="input-label">电话号码</span>
      <input type="text"  ng-model="member.memberTel">
    </label>
    <label class="item item-input">
      <span class="input-label">会员积分</span>
      <input type="text"  ng-model="member.memberPoints">
    </label>
    <label class="item item-input">
      <span class="input-label">上次更新时间</span>
      <input type="text"  ng-model="member.dateTime">
    </label>
    <br />


  </ion-content>
</ion-view>
