<ion-view view-title="{{title}}" >
  <ion-content class="padding" ng-controller="RejectionGoodsController">

    <a class="button" ng-click="scanBarcode()"> ScanBarcode</a>
    <br>
   <!--
    <li ng-repeat="x in name">
      {{ x.company + ', ' + x.id +','+x.number+','+x.goods+','+x.price}}
    </li>
 -->
    <br />
    <label class="item item-input">
      <span class="input-label">条码号</span>
      <input type="text" ng-model="rejection.goodsNumber" placeholder="请输入条码号">
    </label>
    <label class="item item-input">
      <span class="input-label">会员编号</span>
      <input type="text"  ng-model="rejection.memberId" placeholder="请输入会员编号">
    </label>

    <br />
    <!--函数-->
    <a class="button" ng-click="rejectionGoods()">退货</a>

  </ion-content>
</ion-view>
