<ion-view view-title="销售记录" >
  <ion-content class="padding" ng-controller="SalesHistoryController">
   <!-- <br />
    <br />
    <label class="item item-input">
      <span class="input-label">商品名</span>
      <input type="text" ng-model="histories.goodsName">
    </label>
    <label class="item item-input">
      <span class="input-label">商品单价</span>
      <input type="text"  ng-model="histories.goodsPrice">
    </label>
    <label class="item item-input">
      <span class="input-label">销售数量</span>
      <input type="text"  ng-model="histories.salesNumber">
    </label>
    <label class="item item-input">
      <span class="input-label">会员名</span>
      <input type="text"  ng-model="histories.goodsPrice">
    </label>
    <label class="item item-input">
      <span class="input-label">折扣</span>
      <input type="text"  ng-model="histories.discount">
    </label>
    <label class="item item-input">
      <span class="input-label">总计</span>
      <input type="text"  ng-model="histories.sum">
    </label>
    <label class="item item-input">
      <span class="input-label">上次更新时间</span>
      <input type="text"  ng-model="histories.dateTime">
    </label>
    <br />-->
    <ion-list>
      <ion-item class="item-thumbnail"  collection-repeat="history in histories">
        <div>
          <li>销售货物<span style="float: right">{{history.goodsName}}</span></li>
        </div>
        <div>
          <li>货物编号<span style="float: right">{{history.goodsNumber}}</span></li>
        </div>
        <div>
          <li>会员编号<span style="float: right">{{history.memberId}}</span></li>
        </div>
        <div>
          <li>会员名<span style="float: right">{{history.memberName}}</span></li>
        </div>
        <div>
          <li>销售数量<span style="float: right">{{history.salesNumber}}</span></li>
        </div>
        <div>
          <li>折扣<span style="float: right">{{history.discount}}</span></li>
        </div>
        <div>
          <li>总价<span style="float: right">{{history.sum}}</span></li>
        </div>
        <div>
          <li>销售时间<span style="float: right">{{history.dateTime}}</span></li>
        </div>
  </ion-content>
</ion-view>
