
<ion-pane>
  <ion-tabs class="tabs-striped tabs-icon-top tabs-positive">
    <ion-tab title="销售" icon-on="ion-social-usd" icon-off="ion-social-usd-outline" href="#/templates/compIn">
      <ion-nav-view name="templates-compIn">
    </ion-tab>
    <ion-tab title="库存" icon-on="ion-social-dropbox" icon-off="ion-social-dropbox-outline" href="#/templates/goods">
      <ion-nav-view name="templates-goods">
    </ion-tab>
    <ion-tab title="我" icon-on="ion-person" icon-off="ion-person" href="#/templates/compMe">
      <ion-nav-view name="templates-compMe">
    </ion-tab>
  </ion-tabs>
</ion-pane>

